In [16]:
import pandas as pd

In [4]:
%store -r mean
%store -r std

In [5]:
print(mean)
print(std)

3.5
5.3

In [8]:
import csv
file_path = 'norm_var.csv'
saved_norm_var = []
# Open the file in read mode
with open(file_path, 'r') as csvfile:
    reader = csv.reader(csvfile)
    
    # Read the first row from the CSV file
    for row in reader:
        saved_norm_var = list(map(float, row))
        
saved_norm_var

[3.5, 5.3]

In [9]:
%store -r stored_norm_var

In [12]:
stored_norm_var

[3.5, 5.3]

In [ ]:
import numpy as np
import pandas as pd
import pickle
from statsmodels.tsa.api import VAR

# Load the trained VAR model
with open('var_golden_model.pkl', 'rb') as file:
    var_model = pickle.load(file)

# Retrieve the lag order
lag_order = var_model.k_ar

# Prepare new data
attr = list(pd.read_csv('waterTank_Golden.csv').columns.values)[1:]
new_data = pd.read_csv('waterTank_Golden.csv', index_col=0, header=0, parse_date=True)  # Replace with your new data
new_data.index.freq = 'ms'
new_data = new_data[['variable1', 'variable2', 'variable3']]  # Select the variables used in the original model
new_data = new_data[-lag_order:]  # Keep only the most recent observations with enough lagged values

# Initialize the VAR model
model_input = new_data.values
var_model.initialize_known(model_input)

# Make predictions
predictions = var_model.forecast(model_input, steps=5)  # Replace 'steps' with the desired number of future time steps to predict

# Convert predictions to a DataFrame
predictions_df = pd.DataFrame(predictions, columns=new_data.columns)

# Print the predictions
print(predictions_df)

In [28]:
mydf = pd.read_csv('waterTank_Golden.csv', index_col=0, header=0, parse_dates=True)  # Replace with your new data
# mydf.index.freq = 'ms'
mydf

,Tank1WaterLevel,Tank2WaterLevel,Tank1InFlow,Tank2OutFlow,wt3_valve,Tank3OutFlow,Tank2.level
time,,,,,,,
0.00,1.000000e-06,0.000000e+00,0,0.000000,0,0.0,0.000000
0.05,6.890000e-07,3.110000e-07,0,0.000000,0,0.0,0.000000
0.10,3.333928e-03,4.050000e-07,1,0.000000,0,0.0,0.000000
0.15,5.448433e-02,8.850002e-03,1,0.000000,0,0.0,0.000000
0.20,7.717051e-02,2.949715e-02,0,0.000000,0,0.0,0.000000
...,...,...,...,...,...,...,...
999.80,3.078778e+00,2.994546e+00,1,0.498971,0,0.0,1.391121
999.85,3.095068e+00,2.998294e+00,1,0.499269,0,0.0,1.411084
999.90,3.081061e+00,3.005633e+00,0,0.500793,0,0.0,1.441039
999.95,3.062618e+00,3.004038e+00,0,0.500995,0,0.0,1.461066
1000.00,3.057439e+00,2.995855e+00,1,0.499700,0,0.0,1.491125

In [34]:
# attr = list(pd.read_csv('waterTank_ctrl_stuckAt0_Original.csv').columns.values)[1:4]
attr = list(pd.read_csv('waterTank_Golden.csv').columns.values)[1:4]
attr

['Tank1WaterLevel', 'Tank2WaterLevel', 'Tank1InFlow']

In [1]:
print("Esql")

Esql