### Normalisation and rmse

In [63]:
import numpy as np
import pandas as pd
from statsmodels.tools.eval_measures import mse,rmse

In [69]:
df = pd.read_csv("univariate.csv", header=0, index_col=0)
# df = pd.read_csv("waterTank_Golden.csv", header=0, index_col=0)
df_err = df.copy()
df_err[:] = df_err[:]/2
df_err

    tens
x
1    5.0
2   10.0
3   15.0
4   20.0
5   25.0
6   30.0
7   35.0
8   40.0
9   45.0
10  50.0

In [70]:
df

    tens
x
1     10
2     20
3     30
4     40
5     50
6     60
7     70
8     80
9     90
10   100

In [71]:
def normalise_range(data):
#     mini = np.min(data)
    mini = data.min(axis=0)
    maxi = data.max(axis=0)
    return (data - mini)/(maxi - mini)
# df
# mini = df.min(axis=0)
normalised_range = normalise_range(df)
normalised_range

        tens
x
1   0.000000
2   0.111111
3   0.222222
4   0.333333
5   0.444444
6   0.555556
7   0.666667
8   0.777778
9   0.888889
10  1.000000

In [72]:
normalised_range_err = normalise_range(df_err)
normalised_range_err

        tens
x
1   0.000000
2   0.111111
3   0.222222
4   0.333333
5   0.444444
6   0.555556
7   0.666667
8   0.777778
9   0.888889
10  1.000000

### RMSE on range-based

In [95]:
### Before normalisation
attr = df.columns.values.tolist()
# df_val = df[:3]
# df_err_val = df_err[:3]
RMSE = []
for i in range(1,10):
    df_val = df[:i]
    df_err_val = df_err[:i]
    
    for feat in attr:
        RMSE.append(rmse(df_val[feat], df_err_val[feat]))
        
print("-----Before Normalisation-----")
print(RMSE)

print("")
print("-----After Normalisation-----")

RMSEa = []
normalised_range_err[:] = normalised_range_err[:]/2
for j in range(1,10):
    norm_df_val = normalised_range[:j]
    norm_df_err_val = normalised_range_err[:j]
    
    for feat in attr:
        RMSEa.append(rmse(norm_df_val[feat], norm_df_err_val[feat]))
print(RMSEa)

-----Before Normalisation-----
[5.0, 7.905694150420948, 10.801234497346433, 13.693063937629153, 16.583123951777, 19.47220240924654, 22.360679774997898, 25.248762345905195, 28.136571693556885]

-----After Normalisation-----
[0.0, 0.039283710065919304, 0.07172191381865586, 0.10393492741038726, 0.13608276348795434, 0.16820279744986064, 0.20030840419244386, 0.2324055629261321, 0.2644973492052907]

In [96]:
normalised_range_err[:2]

       tens
x
1  0.000000
2  0.055556

### RMSE on std-based

In [38]:
def normalise_std(data):
    # Calculate the mean and standard deviation for each feature
    means = np.mean(data, axis=0)
    stds = np.std(data, axis=0)
    
    # Normalise each feature using standard deviation
    normalised_data = (data - means) / stds
    
    return pd.DataFrame(normalised_data), means, stds

# df
# mini = df.min(axis=0)
normalised_std = normalise_std(df)
normalised_std

(        tens
 x
 1  -1.566699
 2  -1.218544
 3  -0.870388
 4  -0.522233
 5  -0.174078
 6   0.174078
 7   0.522233
 8   0.870388
 9   1.218544
 10  1.566699,
 tens    55.0
 dtype: float64,
 tens    28.722813
 dtype: float64)

In [ ]:
def normalise_timeseries(data):
    # Calculate the mean and standard deviation for each feature
    means = np.mean(data, axis=0)
    stds = np.std(data, axis=0)
    
    # Normalise each feature using standard deviation
    normalised_data = (data - means) / stds
    
    return pd.DataFrame(normalised_data), means, stds

def denormalise_timeseries(data, means, stds):
    denormalised_data = (data * stds) + means
    return pd.DataFrame(denormalised_data)


time_series_data = np.array([[1,2,3],[4,5,6],[7,8,9]])

# normalised_data, means, stds = normalise_timeseries(time_series_data)
normalised_data, means, stds = normalise_timeseries(df)
# print("---------------Original data---------------")
# print(time_series_data)
# print("---------------Normalised data---------------")
# print(normalised_data)
# print("---------------Original data---------------")
# print(denormalise_timese

In [46]:
# attr = list(df.columns.values)
# attr = df.columns.values.tolist()
# attr

['tens']